@page "/product"
@using System.Text.RegularExpressions;

<h3>ProductPage</h3>

<MudForm Model="@formProduct" @ref="@form" >
    <MudTextField T="string" Variant="Variant.Outlined" OnlyValidateIfDirty="true" Required="true" RequiredError="This field is required" Label="Name" />
    <MudTextField T="string" Variant="Variant.Outlined" OnlyValidateIfDirty="true" Required="true" RequiredError="This field is required" Label="Description" />
    <MudTextField T="string" Variant="Variant.Outlined" OnlyValidateIfDirty="true" Required="true" RequiredError="This field is required" Label="Type" />
    <MudTextField T="string" Variant="Variant.Outlined" Required="true" RequiredError="This field is required" Label="EPC" Pattern="^([0-9a-fA-F]{32}|[0-9a-fA-F]{24})$" />
    <MudNumericField Variant="Variant.Outlined" OnlyValidateIfDirty=true Min="1" Max="int.MaxValue" Label="Quantity" />
    <MudTextField T="string" Variant="Variant.Outlined" OnlyValidateIfDirty="true" Required="true" RequiredError="This field is required" Label="Serial Number" />
    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Submit</MudButton>
</MudForm>


@code {
    private bool success;
    private FormProduct formProduct = new FormProduct();
    MudForm form;

    private class FormProduct
    {
        public string Name { get; set; } = string.Empty;

        public string Description { get; set; } = string.Empty;

        public string Type { get; set; } = string.Empty;

        public string? Note { get; set; }

        public string? Attrib1 { get; set; }

        public string? Attrib2 { get; set; }

        public string? Attrib3 { get; set; }

        public string Epc { get; set; } = string.Empty;

        public int ContentQuantity { get; set; }

        public string SerialNumber { get; set; } = string.Empty;
    }
}
